.ScoreBoard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.ScoreBox {
  background-color: lightgreen;
  font-size: 2rem;
  padding: 2rem 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;


}
.label {
  font-size: 1rem;
}

.MultiplierBox {
  background-color: lightskyblue;
width: 12rem;
height: 12rem;
border-radius: 50%;
  font-size: 2rem;
  display: grid;
  place-items: center;
}