.InstructionsBoard {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.notLogin {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.notLogin-LoginSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.notLogin-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.start-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  width: 200px;
}

.start-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;

}

.line-container {
  padding-left: 30px;
  padding-right: 30px;
}

.line {
  border-left: 2px solid gray;
  height: 200px;

}